<a href="https://colab.research.google.com/github/arunkashish/Arunkumar.S/blob/main/Assignment_3_Take_home.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
import numpy as np
import matplotlib.pyplot as plt

In [2]:
x=pd.read_csv("/content/takehome_user_engagement.csv")
y=pd.read_csv("/content/takehome_users (1).csv", encoding='latin1')
x.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30      1.0      1.0
1  2013-11-15 03:45:04      2.0      1.0
2  2013-11-29 03:45:04      2.0      1.0
3  2013-12-09 03:45:04      2.0      1.0
4  2013-12-25 03:45:04      2.0      1.0

In [3]:
y.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
y["last_session_creation_time"]=pd.to_datetime(y["last_session_creation_time"])
y.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0

In [5]:
y["creation_time"].min(),y["creation_time"].max()

('2012-05-31 00:43:27', '2014-05-30 23:59:19')

In [6]:
y["last_session_creation_time"].min(),y["last_session_creation_time"].max()

(Timestamp('1970-01-01 00:00:01.338452406'),
 Timestamp('1970-01-01 00:00:01.402066730'))

In [10]:
ss=x.copy()
ss["date"]=pd.to_datetime(ss["time_stamp"])
ss.head

<bound method NDFrame.head of                 time_stamp  user_id  visited                date
0      2014-04-22 03:53:30      1.0      1.0 2014-04-22 03:53:30
1      2013-11-15 03:45:04      2.0      1.0 2013-11-15 03:45:04
2      2013-11-29 03:45:04      2.0      1.0 2013-11-29 03:45:04
3      2013-12-09 03:45:04      2.0      1.0 2013-12-09 03:45:04
4      2013-12-25 03:45:04      2.0      1.0 2013-12-25 03:45:04
...                    ...      ...      ...                 ...
38118  2013-10-05 16:02:39   2316.0      1.0 2013-10-05 16:02:39
38119  2013-10-06 16:02:39   2316.0      1.0 2013-10-06 16:02:39
38120  2013-10-07 16:02:39   2316.0      1.0 2013-10-07 16:02:39
38121  2013-10-08 16:02:39   2316.0      1.0 2013-10-08 16:02:39
38122               2013-1      NaN      NaN 2013-01-01 00:00:00

[38123 rows x 4 columns]>

In [13]:
ss.describe().T

           count         mean         std  min    25%     50%     75%     max
user_id  38122.0  1153.289964  677.005531  1.0  564.0  1128.0  1770.0  2316.0
visited  38122.0     1.000000    0.000000  1.0    1.0     1.0     1.0     1.0

In [14]:
def rolling_count(ss_group, frequency):
    return ss_group.rolling(frequency, on='date')['user_id'].count()
ss['visits_7_days'] = ss.groupby('user_id', as_index=False, group_keys=False).apply(rolling_count, '7D')

In [16]:
ss.head()

            time_stamp  user_id  visited                date  visits_7_days
0  2014-04-22 03:53:30      1.0      1.0 2014-04-22 03:53:30            1.0
1  2013-11-15 03:45:04      2.0      1.0 2013-11-15 03:45:04            1.0
2  2013-11-29 03:45:04      2.0      1.0 2013-11-29 03:45:04            1.0
3  2013-12-09 03:45:04      2.0      1.0 2013-12-09 03:45:04            1.0
4  2013-12-25 03:45:04      2.0      1.0 2013-12-25 03:45:04            1.0

In [19]:
ss[ss["visits_7_days"] >= 3.0]

,time_stamp,user_id,visited,date,visits_7_days
9,2014-02-09 03:45:04,2.0,1.0,2014-02-09 03:45:04,3.0
10,2014-02-13 03:45:04,2.0,1.0,2014-02-13 03:45:04,3.0
27,2013-02-19 22:08:03,10.0,1.0,2013-02-19 22:08:03,3.0
30,2013-03-02 22:08:03,10.0,1.0,2013-03-02 22:08:03,3.0
31,2013-03-05 22:08:03,10.0,1.0,2013-03-05 22:08:03,3.0
...,...,...,...,...,...
38117,2013-10-04 16:02:39,2316.0,1.0,2013-10-04 16:02:39,7.0
38118,2013-10-05 16:02:39,2316.0,1.0,2013-10-05 16:02:39,7.0
38119,2013-10-06 16:02:39,2316.0,1.0,2013-10-06 16:02:39,7.0
38120,2013-10-07 16:02:39,2316.0,1.0,2013-10-07 16:02:39,7.0
38121,2013-10-08 16:02:39,2316.0,1.0,2013-10-08 16:02:39,7.0

In [22]:
user_adopted = ss.groupby('user_id')['visits_7_days'].max().reset_index()
user_adopted

      user_id  visits_7_days
0         1.0            1.0
1         2.0            3.0
2         3.0            1.0
3         4.0            1.0
4         5.0            1.0
...       ...            ...
1675   2310.0            1.0
1676   2311.0            2.0
1677   2312.0            5.0
1678   2313.0            1.0
1679   2316.0            7.0

[1680 rows x 2 columns]

In [21]:
user_adopted['adopted_user'] = user_adopted['visits_7_days'].apply(lambda x: 1 if x>=3 else 0)
user_adopted.head()

   user_id  visits_7_days  adopted_user
0      1.0            1.0             0
1      2.0            3.0             1
2      3.0            1.0             0
3      4.0            1.0             0
4      5.0            1.0             0